<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='../static/css/home.css'>
  <title>BlindVision</title>
</head>
<body>
  <div class="container">   
    <div class="navbar">
        <img src="../static/images/logo2a.png" class="logo">
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
            <!-- <li><a href="#">About</a></li> -->
            <li><a href="contact">Contact us</a></li>
           </ul>
        </nav>  
    </div> 
    <div class="contents">
      <!-- <a href="" class="btn">Write </a> -->
      <h1>ƁԼƖƝƊ VƖƧƖƠƝ</h1>
      <p>𝓥𝓲𝓼𝓲𝓸𝓷 𝓸𝓯 ƛƦƬƖƑƖƇƖƛԼ ƖƝƬЄԼƖƓЄƝƬ</p>
    </div>  
    <div class="contents">
      <dev class="section">
        <dev class="content">
          <h1>01</h1>
          <h2>ƠƁʆЄƇƬ ƊЄƬЄƇƬƖƠƝ</h2>
          <p></p>
          <a href="object-detection">Click Here</a>
        </dev>
      </dev> 
    </div>  
    <div class="contents">
      <dev class="section">
        <dev class="content">
          <h1>02</h1>
          <h2>νιѕυαℓ qυєѕтισn αnѕωєяιng</h2>
          <!-- <P>write somethingjndsandmasdXNa</P> -->
          <a href="vqa">Click Here</a>
        </dev>
      </dev> 
    </div>  
  </div>
  <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>
  <script>VanillaTilt.init(document.querySelectorAll(".section"), {
		max: 25,
		speed: 400,
    glare: true,
    "max-glare":1,
	});
  </script>
</body>
</html>